@use '../mixins' as *;
@use '../media' as *;

.burger-button {
  @include reset-button;
  width: 40px;
  height: 40px;

  cursor: pointer;
  color: var(--color-accent);
  position: relative;
  border-radius: var(--border-radius);

  @include hover {
    background: var(--color-accent);
    color: var(--color-light);
  }
}
