@use '../mixins' as *;
@use '../media' as *;

.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 50px;

    @include tablet {
      column-gap: 30px;
    }
  }

  &__logo {
    @include tablet {
      max-width: 165px;
    }
  }

  &__menu {
    display: flex;
    align-items: center;

    font-size: 17px;

    &-list {
      display: flex;
      align-items: center;
      column-gap: 50px;

      @include desktop {
        column-gap: 30px;
      }
    }

    &-link {
      position: relative;
      display: inline-flex;
      align-items: center;
      height: 48px;

      @include hover {
        color: var(--color-accent);
        &::after {
          width: 100%;
        }
      }

      @include desktop {
        font-size: 14px;
      }

      &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        translate: -50%;
        width: 0;
        height: 2px;
        background-color: currentColor;
        transition-duration: inherit;
      }
    }
  }

  &__contacts {
    display: flex;
    column-gap: 33px;

    @include desktop {
      font-size: 14px;
    }

    @include mobile {
      column-gap: 20px;
      align-items: center;
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
      row-gap: 4px;
    }
    &-link {
      cursor: pointer;
      text-align: right;

      @include hover {
        color: var(--color-accent);
      }

      &--phone {
        font-weight: 600;
      }
    }
  }

  &__button {
    height: 48px;
    padding-inline: 18px;
    font-size: 16px;
  }

  &__phone-icon {
    @include reset-button;
    width: 40px;
    height: 40px;

    cursor: pointer;
    color: var(--color-accent);
    border-radius: var(--border-radius);

    @include hover {
      background: var(--color-accent);
      color: var(--color-light);
    }
  }
}
