@use '../mixins' as *;
@use '../media' as *;

.hero {
  background: linear-gradient(215deg, #ffcd58 0%, #fab001 100%);
  border-radius: var(--border-radius-10);
  padding: 20px;

  @include mobile {
    padding: 10px;
  }

  &__container {
    background: #f8f8f8;
    box-shadow: 0 0 20px 0 rgba(168, 128, 34, 0.5);
    padding-inline: 100px;

    @include desktop {
      padding-inline: 50px;
    }
    @include tablet {
      padding-inline: 20px;
    }
  }

  &__main {
    position: relative;
    z-index: 2;

    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;

    @include tablet {
      flex-direction: column;
      gap: 30px;
      padding-top: 61px;
    }
  }

  &__overlay {
    position: absolute;
    z-index: -1;
    left: 50%;

    @include tablet {
      top: 50%;
      transform: translate(-50%, -50%);
      width: 306px;
      height: 293px;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 611px;
  }

  &__title {
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 130%;
    text-transform: uppercase;

    @include mobile {
      font-size: 26px;
    }
  }

  &__description {
    margin: 30px 0 35px;

    &-list {
      font-weight: 500;
      font-size: 17px;
      display: flex;
      gap: 30px;

      @include mobile {
        flex-direction: column;
        gap: 10px;
      }
    }

    &-item {
      display: flex;
      gap: 8px;
      position: relative;
    }
  }

  &__buttons {
    display: flex;
    gap: 16px;

    @include desktop {
      flex-direction: column;
      width: 100%;
    }
  }
  &__image {
    @include tablet {
      width: 290px;
      height: 347px;
    }
  }
}
