@use '../mixins' as *;
@use '../media' as *;

.mobile-overlay {
  width: 100%;
  height: 100%;
  margin: 0;
  border: none;
  padding: 14px 20px;

  &:modal {
    max-width: 100%;
    max-height: 100%;
  }

  &__close-button-wrapper {
    display: flex;
    justify-content: end;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__list {
    @include flex-center;

    flex-direction: column;
    row-gap: 30px;
    min-height: 50vh;
  }

  &__link {
    @include hover {
      color: var(--color-accent);
    }
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    @include mobile {
      column-gap: 20px;
      align-items: center;
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
      row-gap: 4px;
    }
    &-link {
      cursor: pointer;
      text-align: center;

      @include hover {
        color: var(--color-accent);
      }

      &--phone {
        font-weight: 600;
      }
    }
  }
}
