@use 'mixins' as *;
@use 'media' as *;

.container {
  max-width: calc(
    var(--container-width) + var(--container-padding-x) * 2
  );
  margin-inline: auto;
  padding: var(--section-padding-y) var(--container-padding-x);

  &--header {
    padding-block: 23px;
  }
  &--hero {
    padding-top: 0;
  }

  @include tablet {
    &--reviews {
      padding-inline: 0;
    }
  }
  @include mobile {
    &--header {
      padding-bottom: 25px;
    }
  }
}

// чтобы интерактивные элементы были доступными
.visually-hidden {
  @include visually-hidden;
}
//   скроет элемент на мобиле
.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}
.visible-mobile {
  @include mobile-above {
    display: none !important;
  }
}
.hidden-tablet {
  @include tablet {
    display: none !important;
  }
}
.visible-tablet {
  @include tablet-above {
    display: none !important;
  }
}
